*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore wrapper files
gradlew
gradlew.bat

# Ignore compiled code
*.class

# Ignore logs
*.log

# Ignore IDE and platform-specific files
*.swp