*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore wrapper files
gradlew
gradlew.bat

# Ignore compiled code
*.class

# Ignore logs
*.log

# Ignore IDE and platform-specific files
*.swp